:root {
    --primary-color: #DC0A2D;
    --white-color: #FFFFFF;
    --dark-color: #1D1D1D;
    --medium-color: #666666;
    --light-color: #E0E0E0;
    --background-color: #EFEFEF;

    --bug-type-color: #A7B723;
    --dark-type-color: #75574C;
    --dragon-type-color: #7037FF;
    --electric-type-color: #F9CF30;
    --fairy-type-color: #E69EAC;
    --fighting-type-color: #C12239;
    --fire-type-color: #F57D31;
    --flying-type-color: #A891EC;
    --ghost-type-color: #70559B;
    --normal-type-color: #AAA67F;
    --grass-type-color: #74CB48;
    --ground-type-color: #DEC16B;
    --ice-type-color: #9AD6DF;
    --poison-type-color: #A43E9E;
    --psychic-type-color: #FB5584;
    --rock-type-color: #B69E31;
    --steel-type-color: #B7B9D0;
    --water-type-color: #6493EB;
}

#root {
    width: 100vw;
}

body {
    height: 100vh;
    scrollbar-width: none;
    font-family: "Poppins", sans-serif;
}

.header {
    height: 16rem;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/pokeball.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16rem;
    opacity: 0.1;
    pointer-events: none;
}

.header__back {
    display: flex;
    gap: 0.75rem;
}

.header__back img {
    max-width: 2rem;
}

.header__top {
    padding: 2rem;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-inline: auto;
    width: 100vw;
    padding-inline: 2rem;
}

.hero__pokemon {
    width: 16rem;
}

.arrow__left, .arrow__right {
    width: 2rem;
}

.arrow__right {
    transform: rotate(180deg);
}

.main {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    margin-inline: 0.5rem;
    margin-block-end: 1.5rem;
    box-shadow: inset 0 5px 8px -4px rgba(0, 0, 0, 0.3);
}

.main__container {
    margin-block-start: 4rem;
    
}

.pokemon__types {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block-end: 1rem;
}

.pokemon__type {
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    background-color: #666666;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    border-radius: 3rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__list {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block: auto;
}

.about__list__item {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 5rem;
    width: 6.5rem;
    border-right: 2px solid var(--background-color);
}

.about__list__item:last-of-type {
    border-right: 0;
}

.about__list__item small {
    color: var(--medium-color);
}

.item__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 0.5rem;
}

.item__info img {
    width: 1.5rem;
}

.about__list__item:last-child .item__info {
    text-transform: capitalize;
    flex-direction: column;
    gap: 0;
}

.pokemon__description {
    display: flex;
    text-align: center;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
}

.stats h3 {
    display: flex;
    justify-content: center;
}

.stats__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.stats__list {
    border-right: 2px solid var(--background-color);
    margin-inline-end: 1rem;
}

.stats__entry {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
}

.stats__entry meter {
    height: 0.5rem;
    border-radius: 2rem;
    
}
 